/* This is the app css file, all css designs in here apply to the entire application including all new pages */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Film Noir';
  /* This is how you can incorporate a different font besides the default, this font was downloaded off Dafont.com */
  
}

body{
  background-color: #000;
  color: rgb(0, 0, 0);
  
}

a{
  color: rgb(0, 0, 0);
}
